<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="clientApp.js"></script>
  <script src="lb-services.js"></script>
</head>

<body class="p-0">
  <div ng-app="clientApp" ng-controller="AppCtrl">
    <div class="py-5 text-white bg-primary text-center">
      <div class="container">
        <div class="row">
         
          <div class="col-md-4">
            <h1 class="text-left">Create Company</h1>
          </div>
          <div class="col-md-5">
              <img style="height:100px ;width:80% " src="client/img/arkilio.png">
              </div>
          <div class="col-md-2">
              <img src="client/img/home.png" ng-click="backPage()"> </div>
        </div>
        
        
      </div>
    </div>
    <form name="ClientForm">
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="lead">Company</p>
          </div>
          <div class="col-md-9">
            <input type="text" name="CompanyName" ng-model="CompanyName" class="form-control mr-3 my-1" placeholder="Company Name" id="inlineFormInputGroup" required>
            <div class="alert alert-danger" ng-if="ClientForm.CompanyName.$invalid">Company name is required.</div>
            </div>
          </div>
        </div>
      </div>
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="lead"></p>
          </div>
          <div class="col-md-5">
            <input type="text" ng-model="Address" class="form-control mr-3 my-1" placeholder="Street Address" id="inlineFormInputGroup"> </div>
          <div class="col-md-4">
            <input type="text" ng-model="City" class="form-control mr-3 my-1" placeholder="City" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="lead"></p>
          </div>
          <div class="col-md-3">
            <input type="text" ng-model="Province" class="form-control mr-3 my-1" placeholder="Province" id="inlineFormInputGroup"> </div>
          <div class="col-md-3">
            <input type="text" ng-model="Country" class="form-control mr-3 my-1" placeholder="Country" id="inlineFormInputGroup"> </div>
          <div class="col-md-3">
            <input type="text" ng-model="PostalCode" class="form-control mr-3 my-1" placeholder="Postal Code" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="lead"></p>
          </div>
          <div class="col-md-9">
            <input type="email" name="Email" ng-model="Email" class="form-control mr-3 my-1" placeholder="example@gmail.com" id="inlineFormInputGroup" required> 
            <div class="alert alert-danger" ng-if="ClientForm.Email.$invalid">Email is required.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="lead"></p>
          </div>
          <div class="col-md-4">
            <input type="text" ng-model="WorkNumber" class="form-control mr-3 my-1" placeholder="Work Number" id="inlineFormInputGroup"> </div>
          <div class="col-md-4">
            <input type="text" ng-model="MobileNumber" class="form-control mr-3 my-1" placeholder="Mobile Number" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="lead"></p>
          </div>
          <div class="col-md-4">
            <input type="text" ng-model="ApproverName" class="form-control mr-3 my-1" placeholder="Approver Name (if applicable)" id="inlineFormInputGroup"> </div>
          <div class="col-md-5">
            <input type="text" ng-model="ApproverEmail" class="form-control mr-3 my-1" placeholder="Approver Email (if applicable)" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <a ng-click="backPage()" class="btn btn-lg w-75 m-0 btn-danger" href="">Cancel</a>
          </div>
          <div class="col-md-3">
            <a ng-click="addClient()" class="btn btn-lg w-75 text-white btn-success" href="">Create</a>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</body>

</html>
