<body class="p-0">
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h3 class="">June 2018 Invoice Reminder, Diva Condominium #170063</h3>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12
                      "> </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p class="lead">Company</p>
          </div>
          <div class="col-md-2">
            <p class="lead">Company Name</p>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control mr-3 my-1" placeholder="Company Name" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <p class="lead">Address</p>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="Street" id="inlineFormInputGroup"> </div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="City" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="Province" id="inlineFormInputGroup"> </div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="Country" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <p class="lead">Email</p>
          </div>
          <div class="col-md-8
                      ">
            <input type="text" class="form-control mr-3 my-1" placeholder="Email" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <p class="lead">Project Approver</p>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="Name (if applicable)" id="inlineFormInputGroup"> </div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="Email (if applicable)" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <p class="lead">Phone Number</p>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="Work" id="inlineFormInputGroup"> </div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="Mobile" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <p class="lead">Project</p>
          </div>
          <div class="col-md-2">
            <p class="lead">Project Number</p>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control mr-3 my-1" placeholder="170063" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <p class="lead">Project Name</p>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control mr-3 my-1" id="inlineFormInputGroup" placeholder="Project Name"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <p class="lead">Project Address</p>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="Street" id="inlineFormInputGroup"> </div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="City" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="Province" id="inlineFormInputGroup"> </div>
          <div class="col-md-4">
            <input type="text" class="form-control mr-3 my-1" placeholder="Country" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <p class="lead">Alternate Owner</p>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control mr-3 my-1" placeholder="Name" id="inlineFormInputGroup"> </div>
          <div class="col-md-5">
            <input type="text" class="form-control mr-3 my-1" placeholder="Phone Number" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <p class="lead">Proposal Amount</p>
          </div>
          <div class="col-md-10">
            <input type="text" class="form-control mr-3 my-1" placeholder="$" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h1 class="text-danger">Amount Due</h1>
          </div>
          <div class="col-md-2">
            <p class="lead">Amount</p>
            <input type="text" class="form-control mr-3 my-1" placeholder="$ 300" id="inlineFormInputGroup"> </div>
          <div class="col-md-2">
            <p class="lead">Date</p>
            <input type="text" class="form-control mr-3 my-1" placeholder="YYYY-MM-DD" id="inlineFormInputGroup"> </div>
          <div class="col-md-2">
            <p class="lead">Balance&nbsp;</p>
            <input type="text" class="form-control mr-3 my-1" placeholder="$ 600" id="inlineFormInputGroup"> </div>
          <div class="col-md-3">
            <p class="lead">Phase</p>
            <input type="text" class="form-control mr-3 my-1" placeholder="Schematic Design" id="inlineFormInputGroup"> </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="">Payment Phases of Proposal/Contract and Reminders</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="py-1">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="lead">Type</p>
            <input type="text" ng-model="percent" class="form-control mr-3 my-1" placeholder="Schematic Design" id="inlineFormInputGroup"> </div>
          <div class="col-md-1">
            <p class="lead">Percent</p>
            <input type="text" ng-model="percent" class="form-control mr-3 my-1" placeholder="%" id="inlineFormInputGroup"> </div>
          <div class="col-md-2">
            <p class="lead">Amount</p>
            <input type="text" class="form-control mr-3 my-1" placeholder="$" id="inlineFormInputGroup" ng-model="amount"> </div>
          <div class="col-md-2">
            <p class="lead">Due Date</p>
            <input type="text" ng-model="reminder" class="form-control mr-3 my-1" placeholder="YYYY-MM-DD" id="inlineFormInputGroup"> </div>
          <div class="col-md-2">
            <p class="lead">Complete</p>
            <input type="checkbox" ng-model="complete" value="on"> </div>
          <div class="col-md-1 ">
            <p class="lead">Paid</p>
            <input type="checkbox" ng-model="paid" value="on"> </div>
          <div class="col-md-1 "></div>
        </div>
      </div>
    </div>
    <div class="py-1">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control mr-3 my-1" placeholder="Design Development" id="inlineFormInputGroup" ng-model="percent"> </div>
          <div class="col-md-1">
            <input type="text" ng-model="percent" class="form-control mr-3 my-1" placeholder="%" id="inlineFormInputGroup"> </div>
          <div class="col-md-2">
            <input type="text" class="form-control mr-3 my-1" placeholder="$" id="inlineFormInputGroup" ng-model="amount"> </div>
          <div class="col-md-2">
            <input type="text" class="form-control mr-3 my-1" placeholder="YYYY-MM-DD" id="inlineFormInputGroup" ng-model="reminder"> </div>
          <div class="col-md-2">
            <input type="checkbox" ng-model="complete" value="on"> </div>
          <div class="col-md-1 ">
            <input type="checkbox" ng-model="paid" value="on"> </div>
          <div class="col-md-1 "> </div>
        </div>
      </div>
    </div>
    <div class="py-1">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <input type="text" ng-model="percent" class="form-control mr-3 my-1" placeholder="Construction Documents" id="inlineFormInputGroup"> </div>
          <div class="col-md-1">
            <input type="text" ng-model="percent" class="form-control mr-3 my-1" placeholder="%" id="inlineFormInputGroup"> </div>
          <div class="col-md-2">
            <input type="text" class="form-control mr-3 my-1" placeholder="$" id="inlineFormInputGroup" ng-model="amount"> </div>
          <div class="col-md-2">
            <input type="text" ng-model="reminder" class="form-control mr-3 my-1" placeholder="YYYY-MM-DD" id="inlineFormInputGroup"> </div>
          <div class="col-md-2">
            <input type="checkbox" ng-model="complete" value="on"> </div>
          <div class="col-md-1 ">
            <input type="checkbox" ng-model="paid" value="on"> </div>
          <div class="col-md-1 "> </div>
        </div>
      </div>
    </div>
    <div class="py-1">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control mr-3 my-1" placeholder="Bidding and Negotiation" id="inlineFormInputGroup" ng-model="percent"> </div>
          <div class="col-md-1">
            <input type="text" class="form-control mr-3 my-1" placeholder="%" id="inlineFormInputGroup" ng-model="percent"> </div>
          <div class="col-md-2">
            <input type="text" class="form-control mr-3 my-1" placeholder="$" id="inlineFormInputGroup" ng-model="amount"> </div>
          <div class="col-md-2">
            <input type="text" class="form-control mr-3 my-1" placeholder="YYYY-MM-DD" id="inlineFormInputGroup" ng-model="reminder"> </div>
          <div class="col-md-2">
            <input type="checkbox" ng-model="complete" value="on"> </div>
          <div class="col-md-1 ">
            <input type="checkbox" ng-model="paid" value="on"> </div>
          <div class="col-md-1 "> </div>
        </div>
      </div>
    </div>
    <div class="py-1">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control mr-3 my-1" placeholder="Construction Administration" id="inlineFormInputGroup" ng-model="percent"> </div>
          <div class="col-md-1">
            <input type="text" class="form-control mr-3 my-1" placeholder="%" id="inlineFormInputGroup" ng-model="percent"> </div>
          <div class="col-md-2">
            <input type="text" class="form-control mr-3 my-1" placeholder="$" id="inlineFormInputGroup" ng-model="amount"> </div>
          <div class="col-md-2">
            <input type="text" class="form-control mr-3 my-1" placeholder="YYYY-MM-DD" id="inlineFormInputGroup" ng-model="reminder"> </div>
          <div class="col-md-2">
            <input type="checkbox" ng-model="complete" value="on"> </div>
          <div class="col-md-1 ">
            <input type="checkbox" ng-model="paid" value="on"> </div>
          <div class="col-md-1 "> </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </body>